<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Any JAM{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function fetchData(){
            fetch('/get_data')
            .then(response => reponse.json())
            .then(data => {
                document.getElementById()
            })
        }
    </script>
    <style>
        #hi {
            color: black
        }
    </style>
</head>
<body>
    <main>
        {% block content %}{% endblock %}
        <h1>Any JAM !!</h1>
        <p>How musical are you?</p>
        <a id="hi" href = '/choose_song'>Play!</a>
    </main>
</body>
</html>
