<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Instrument selection{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        #hi {
            color: black
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            {% block content %}{% endblock %}
            <a id="hi" href="/play_menu">Pick instrument!</a>
            <a id="hi" href="/">Back :-(</a>
        </ul>
    </nav>

</body>
</html>
