{% extends "base.html" %}

{% block title %}Game - My Flask App{% endblock %}

{% block content %}
<section>
    <h2>Welcome to My Flask App</h2>
    <p>GRAHHAHAHAA.</p>
    <script>
        function fetchData() {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('data').innerText = JSON.stringify(data, null, 2);
                });
        }

        // time
        setInterval(fetchData, 5000);
        
        window.onload = fetchData;
    </script>
    <p>This is the about page.</p>
    <body>
        <h1>Received Data</h1>
        <pre id="data">Loading...</pre>
    </body>
</section>
{% endblock %}
