<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- <script type="text/javascript">
        function fetchFeedback() {
            fetch('/get_feedback')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('feedback').innerText = data;
                });
        }

        setInterval(fetchFeedback, 1000); // Fetch feedback every second
    </script> -->
</head>
<body>
    {% if recording %}
        <h1>Recording</h1>
        <p id="feedback"></p>
        <form action="/endrec" method="get">
            <button type="submit">Stop Recording</button>
        </form>
    {% else %}
        <a href="/record">Start Recording</a>
    {% endif %}
</body>
</html>
